@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 1rem 3rem;
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}
/*state*/
#important::before{
 content: '!';
 width: 100px;
 height: 100px;
 background-color: red;
}
/****************************************************************/
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.singleTask{
   display: flex;
   flex-direction: row;
   gap:5px;
   align-items: center;
   flex-grow: 1;
   width: 100%;
}

/*buttons**/
.tasksWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.singleTask span, #task{
    border-radius: 5px;
    /* width: 600px; */
    padding: 1rem 2rem;
    width: 100%;
}
.action{
    height: 100%;
    border-radius: 5px;
    /* display: flex; */
    /* align-items: stretch; */
    padding: .1rem .2rem;
    width: 40px;
}
.action img{
    width: 100%;
    height: 100%;
}
.done{
    background-color: limegreen;
}
.delete{
    background-color: red;
}
.archive{
    background-color: deepskyblue;
}
.comptetedTask{
    text-decoration: line-through;
}
.urgent{
    border: solid 2px red;
}
.regular{
    border: solid 2px deepskyblue;
} 

/*credit*/
#credit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: goldenrod;
}


/*archive*/
#archiveModal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top:0;
    left: 0;
}
#archiveModalContent{
    position: absolute;
    height: 50%;
    width: 50%;
    top:50%;
    left:50%;
    background-color: white;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#archiveModalImg{
    background-color: red;
    position: absolute;
    top: -5%;
    right: -10%;
}
.notVisible{
    display: none;
}

/*form*/
form {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 5px;
}
form button{
 padding: .5rem 1rem;
 color: white;
 background-color:deepskyblue;
 border-radius: 5px;

}
@media (max-width : 700px){
    body{
    padding: .5rem 1.5rem;
    }
    main{
     width: 90%;
    }
    nav{
     flex-direction:column;
    }
    nav h1{
     text-align:center;
    }
    nav ul{
     justify-content:space-between;
    }
    #task {
        width:80%;
    }
   
   }