@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 1rem 3rem;
}
ul{
    list-style: none;
}
button{
    border: none;
}
button:hover{
    opacity: 0.5;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/*state*/
#important::before{
 content: '!';
 width: 100px;
 height: 100px;
 background-color: red;
}
/****************************************************************/
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.singleTask{
   display: flex;
   flex-direction: row;
   gap:5px;
   align-items: center;
}
span{
    padding: 1rem 2rem;
}
/*buttons**/
.tasksWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.singleTask span{
    border-radius: 5px;
    width: 600px;
}
.action{
    height: 100%;
    border-radius: 5px;
}
.action img{
    width: 80%;
    height: 70%;
}
.done{
    background-color: limegreen;
}
.delete{
    background-color: red;
}
.archive{
    background-color: deepskyblue;
}
.comptetedTask{
    text-decoration: line-through;
}
.urgent{
    border: solid 2px red;
}
.regular{
    border: solid 2px cyan;
} 

/*credit*/
#credit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: goldenrod;
}